body, h1, h2, h3, h4, h5, h6 {
	font-family: "Karma", sans-serif;
}

body {
	margin: 0;
	font-size: 16px;
	line-height: 1.6;
}

header {
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	font-size: 20px;
	position: fixed;
	top: 0;
	width: -webkit-fill-available;
}

header > div {
	padding: 16px;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	background-color: #f4f4f4;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: none;
}

nav a {
	display: block;
	margin-bottom: 5px;
	text-decoration: none;
	color: #333;
	font-size: 18px;
}

main {
	margin: 20px;
	padding: 60px 20px 20px 20px;
}

.animate-left {
	animation: animateleft 0.4s;
}

@keyframes animateleft {
	from {
		left: -300px;
		opacity: 0;
	} 
	to {
		left: 0;
		opacity: 1;
	}
}

#card-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#card-section > div {
	width: 23%;
	margin-bottom: 20px;
	box-sizing: border-box;
	border: 1px solid #ddd;
	padding: 10px;
	text-align: center;
}

#mySidebar > a {
	padding: 10px;
}

.pagination {
	text-align: center;
}

.pagination > a {
	border: none;
	display: inline-block;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	background-color: inherit;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
}

.pagination > a.active {
	color: white;
	background-color: #000!important;
}

header > div:hover, .pagination > a:hover, .blog:hover, #mySidebar > a:hover  {
	background-color: #ccc;
	cursor: pointer;
}

section {
	margin-bottom: 32px;
	text-align: center;
}

img {
	width: 100%;
	height: auto;
}

.tags {
	color: #fff!important; 
	background-color: #616161;
	font-size: 12px;
	padding: 0 8px;
	cursor: pointer;
}

.tags.active {
	background-color: #000;
}

footer {
	background-color: #f4f4f4;
	padding: 20px;
	display: flex;
	justify-content: space-between;
}

footer div {
	flex: 1;
	margin-right: 20px;
}

hr {
	border: 0;
	border-top: 1px solid #ccc;
	margin: 20px 0;
}

.card-image {
	max-width: 150px;
}

.blog > .blog-image {
	float: left !important;
	max-width: 50px;
	padding: 8px 16px;
}

.blog:not(:last-child) {
	border-bottom: 2px solid #ddd;
}

@media screen and (max-width: 768px) {
	nav {
		width: 100%;
	}
	
	footer {
		display: block;
	}
	
	#card-section > div {
		width: 100%;
	}
   
	main {
		margin: 0px;
		padding: 80px 20px 20px 20px;
	}
}